.collection_box{
    width: 90vw;
    margin: auto;
    /* border: 2px solid black; */
    min-height: 500px;
    max-height: 1000px;
    overflow: scroll;
}
.c_title{
    font-size: 2rem;
    border-bottom: 2px solid rgba(0, 0, 0, .3);
    padding: 10px 0;
    margin-bottom: 20px;
}
.c_container{
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 125px;
    margin-bottom: 20px;
}
.cart{
    width: 250px;
    height: 380px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, .3);
}
.img{
    width: 100%;
    height: 50%;
    overflow: hidden;

}
img{
    width: 100%;
    height: 100%; 
}
.c_details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
}
.BTN{
    position: relative;
    left: -10px;
    width: 35%;
}
.c_details p{
    width: 100%;
    height: 40px;
    overflow: hidden;
}
.empty{
    display: grid;
    place-items: center;
    /* border: 2px solid black; */
    font-size: 2rem;
    width: 100%;
    height: 400px;
}
.c_empty{
    text-align: center;
}