<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHAPING | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/base1.css' %}">
    {% block link %}
    {% endblock %}
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
</head>
<body>
    <div class="nav">
        {% include 'include/nav.html' %}
    </div>
    {% block candent %}
    {% endblock %}
    <div class="footer">
        {% include 'include/footer.html' %}
    </div>
    <script type="text/javascript">
        var user = '{{request.user}}'
    </script>
</body>
</html>